@import 'bootstrap';

body {
  background: darkseagreen;
}

.alert-ticker{
  background:firebrick;
  color:whitesmoke;
}


$duration: 10s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {

  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9);
  //firebrick
  padding-left: 100%;  // offset items to begin

}

.ticker {

  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap; // display items in a line
  padding-right: 100%; // ensure items go before animations repeat (taken from parent due to inline-block)

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;

  &__item {

    display: inline-block;

    padding: 0 2rem;
    font-size: 2rem;
    color: white;

  }

}



//hover over navigation togglers
/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover::after {
  opacity: 1;
}




body { padding-bottom: 5rem; }
h1,h2,p {padding: 0 5%;}





.network-flow-list{
  height:70vh;
  overflow-y: scroll;
  padding:0.7vw;
}

/*the thumb is the vertically moving part of scrollbar,
  which this controls the display of*/
.network-flow-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #E9ECF5;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/*the track is what the thumb is held inside,
  this controls rendering of the scrollbar-track*/
.network-flow-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-bottom:0.7vh;
  margin-top:1.7vh;
  background: gray;
}

.network-flow-list::-webkit-scrollbar {
  width: 12px;
}
